*.h5 filter=lfs diff=lfs merge=lfs -text
app/cell_detection/vgg19_128x128_globalavgpool_1dense128_finetune_3.h5 filter=lfs diff=lfs merge=lfs -text
app/cell_detection/vgg19_globavgpool_drop_1dense256_finetune_3.h5 filter=lfs diff=lfs merge=lfs -text
