<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/style-home.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='javascript/query.js') }}"></script>
    <meta charset="UTF-8">
    <title class="title">Cervix Tool</title>
</head>
<body>
    <div class="grid-container">
        <div class="header">
            <h1 class="title">Cervix Tool</h1>
            <h3 class="undertitle">{% block heading3 %}Heading{% endblock %}</h3>
        </div>

        <div class="main">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            {% block buttons %}

            {% endblock %}

            {% block icon %}
            <div class="container">
            <a href="/contact">
                <img class="icon" src="{{ url_for('static', filename='/icon/contact.png') }}">
            </a>

            {% if 'model-1' in request.path %}
                <a href="/info-mod-1-page-1">
                    <img class="icon" src="{{ url_for('static', filename='/icon/info.png') }}">
                </a>
            {% elif 'model-2' in request.path %}
                <a href="/info-model-2">
                    <img class="icon" src="{{ url_for('static', filename='/icon/info.png') }}">
                </a>
            {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>
