<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/style-home.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='javascript/query.js') }}"></script>
    <meta charset="UTF-8">
    <title class="title">Cervix Tool</title>
</head>
<body>
    <div class="grid-container">
        <div class="header">
            <h1 class="title">Cervix Tool</h1>
            <h3 class="undertitle">{% block heading3 %}Heading{% endblock %}</h3>
        </div>

        <div class="main">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            {% block buttons %}

            {% endblock %}

            {% block icon %}
            <a href="/infos.html">
                <img class="question-mark-icon" src="{{ url_for('static', filename='/icon/question-mark.svg.png') }}">
            </a>
            {% endblock %}
        </div>
    </div>
</body>
</html>
