{% extends "base.html" %}


{%block heading3 %}Contact{% endblock %}

{% block content %}
<div class="container">
    <div class="infos-container">
        <table class="table-infos">
          <tr>
            <th>Developers: </th>
            <td>Francesco Cocciro, Michele Lunelli</td>
          </tr>
          <tr>
            <th>Repositories:</th>
            <td>github.com/fr4nc35c0/DSR_Cervix_Tool_projects</td>
          </tr>
          <tr>
            <td></td>
            <td>github.com/michlun/DSR_Cervix_Tool_projects</td>
          </tr>
          <tr>
            <th>LinkedIn:</th>
            <td>www.linkedin.com/in/francesco-cocciro-80324682</td>
          </tr>
          <tr>
            <td></td>
            <td>www.linkedin.com/in/mlunelli</td>
          </tr>
          <tr>
            <th>Cervix Tools Version:</th>
            <td>1.0</td>
          </tr>

        </table>
    </div>
</div>


{% endblock %}

{% block buttons %}
    <div class="button-container">
        <button class="button-model-1" onclick="window.location.href='/index'">Home</button>
    </div>
{% endblock %}

{% block icon %}
{% endblock %}
