{% extends "base.html" %}


{%block heading3 %}Contact{% endblock %}

{% block content %}
<div class="container">
    <div class="infos-container">
        <table class="table-infos">
          <tr>
            <th>Developers: </th>
            <td>Name and Surname</td>
          </tr>
          <tr>
            <th>Version:</th>
            <td>1.0</td>
          </tr>
          <tr>
            <th>Website:</th>
            <td>https://github.com/fr4nc35c0/temporary_projects.git</td>
          </tr>
          <tr>
            <th>Phone:</th>
            <td>...</td>
          </tr>
            <tr>
            <th>Company:</th>
            <td>...</td>
          </tr>
        </table>
    </div>
</div>


{% endblock %}

{% block buttons %}
    <div class="button-container">
        <button class="button-model-1" onclick="window.location.href='/index'">Go to Home</button>
    </div>
{% endblock %}

{% block icon %}
{% endblock %}
