{% extends "base.html" %}


{%block heading3 %}Contact{% endblock %}

{% block content %}
<div class="container">
    <div class="infos-container">
        <table class="table-infos">
          <tr>
            <th>Developers: </th>
            <td>Francesco Cocciro, Michele Lunelli</td>
          </tr>
          <tr>
            <th>Version:</th>
            <td>1.0</td>
          </tr>
          <tr>
            <th>Website:</th>
            <td>https://github.com/michlun/DSR_Cervix_Tool_projects</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>michele.lunelli@gmail.com</td>
          </tr>
        </table>
    </div>
</div>


{% endblock %}

{% block buttons %}
    <div class="button-container">
        <button class="button-model-1" onclick="window.location.href='/index'">Home</button>
    </div>
{% endblock %}

{% block icon %}
{% endblock %}
