{% extends "base.html" %}

{%block heading3 %} Image Check {% endblock %}

{% block content %}
    <div class="grid-container-model-2">
        <div class="left-column">
            <!-- Contenuto della colonna sinistra -->
            <p>Left column</p>
        </div>
        <div class="right-column">
            <!-- Contenuto della colonna destra -->
            <p>Right column</p>
        </div>
    </div>
{% endblock %}

{% block buttons %}
    <div class="button-container">
        <button class="button-model-1" onclick="window.location.href='/index.html'">Go to Home</button>
        <button class="button-model-1" onclick="storeData()">Get Prediction</button>
    </div>
{% endblock %}




