{% extends "base.html" %}

{%block heading3 %} Upload a Microscope Image {% endblock %}

{% block content %}

    <div class="column">
            <p>
            <h3> Upload a whole slide image</h3>
            <form action="/model-2" method="post" enctype="multipart/form-data">
                <input class= "form-control" id="formFileLg" type="file" name="image" accept="image/*" required>
                <input type="submit" value="Upload">
            </form>
            </p>
            <p>
            <h3> Upload a single cell image</h3>
            <form action="/singlecell" method="post" enctype="multipart/form-data">
                <input class= "form-control" id="formFileLg" type="file" name="image" accept="image/*" required>
                <input type="submit" value="Upload">
            </form>
            </p>
    </div>

{% endblock %}

{% block buttons %}
    <div class="button-container">
        <button class="button-model-1" onclick="window.location.href='/index'">Home</button>
    </div>
{% endblock %}
